In [8]:
import pandas as pd
import numpy as np

In [41]:
raw_data=pd.read_csv("../RawData/halukaschreibt_zusammen.csv")
#dropped=raw_data.dropna(subset=["Resultatsberuf","Resultatsberuf2","Resultatsberuf_3"], how="all")
dropped=raw_data

In [42]:
dropped['number_zusammen'] = np.nan
dropped['number_zusammen'] = np.where(dropped['Resultatsberuf'].isna(), np.nan,dropped['Nummer'])
dropped['number_zusammen'] = np.where(dropped['Resultatsberuf2'].isna(), dropped['number_zusammen'],dropped['Nummer2'])
dropped['number_zusammen'] = np.where(dropped['Resultatsberuf_3'].isna(), dropped['number_zusammen'],dropped['Nummer_3'])
dropped['Resultatsberuf_zusammen'] = np.nan
dropped['Resultatsberuf_zusammen'] = np.where(dropped['Resultatsberuf'].isna(), np.nan,dropped['Resultatsberuf'])
dropped['Resultatsberuf_zusammen'] = np.where(dropped['Resultatsberuf2'].isna(), dropped['Resultatsberuf_zusammen'],dropped['Resultatsberuf2'])
dropped['Resultatsberuf_zusammen'] = np.where(dropped['Resultatsberuf_3'].isna(), dropped['Resultatsberuf_zusammen'],dropped['Resultatsberuf_3'])

summed_scraper=dropped[["Berufsübersetzung","number_zusammen","Resultatsberuf_zusammen"]]
summed_scraper

,Berufsübersetzung,number_zusammen,Resultatsberuf_zusammen
0,Dentalhygieni,81113-10,Dentalhygieniker/in
1,Choreograp,94224-10,Ballettmeister/in
2,Kieferorthopä,81113-10,Kieferorthopädische/r Fachhelfer/in
3,Krankenschwes,82182-10,Ambulante/r Pfleger/in
4,Medizinische Notfalltechniker und Rettungssanitä,81342-10,Rettungssanitäter/in
...,...,...,...
434,Erdölingenie,21114-11,Ingenieur/in - Rohstoffgewinnung und -aufberei...
435,Ausschreibungen für Brücken und Schleus,NaN,NaN
436,Log Grader und Scal,NaN,NaN
437,Jäger und Fallenstel,NaN,NaN
438,NaN,NaN,NaN

In [43]:
hand_classified=pd.read_csv("jobs_with_context_classified.csv",dtype={"germancode":str})
hand_classified

,germancode,jobs,code,count,mean,std,min,25%,50%,75%,max,rel_std
0,814,['Dental Hygienists'],29-202,1,100.0,0.000000,100,100.0,100.0,100.0,100,0.000000
1,942,"['Choreographers', 'Dancers']",27-203,2,99.0,1.414214,98,98.5,99.0,99.5,100,0.014285
2,814,"['Orthodontists', 'Oral and Maxillofacial Surg...",29-102,4,97.0,3.366502,92,96.5,98.5,99.0,99,0.034706
3,813,['Nurse Midwives'],29-116,1,97.0,0.000000,97,97.0,97.0,97.0,97,0.000000
4,813,['Emergency Medical Technicians and Paramedics'],29-204,1,97.0,0.000000,97,97.0,97.0,97.0,97,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
433,NaN,['Refuse and Recyclable Material Collectors'],53-708,1,31.0,0.000000,31,31.0,31.0,31.0,31,0.000000
434,412,['Petroleum Engineers'],17-217,1,30.0,0.000000,30,30.0,30.0,30.0,30,0.000000
435,NaN,['Bridge and Lock Tenders'],53-601,1,28.0,0.000000,28,28.0,28.0,28.0,28,0.000000
436,117,"['Log Graders and Scalers', 'Logging Equipment...",45-402,3,23.0,21.931712,7,10.5,14.0,31.0,48,0.953553
437,117,['Hunters and Trappers'],45-302,1,17.0,0.000000,17,17.0,17.0,17.0,17,0.000000

In [44]:
hand_scraper=pd.concat([hand_classified,summed_scraper],axis=1)
hand_scraper["three_letter_scraper"]=hand_scraper["number_zusammen"].str[0:3]
hand_scraper

,germancode,jobs,code,count,mean,std,min,25%,50%,75%,max,rel_std,Berufsübersetzung,number_zusammen,Resultatsberuf_zusammen,three_letter_scraper
0,814,['Dental Hygienists'],29-202,1.0,100.0,0.000000,100.0,100.0,100.0,100.0,100.0,0.000000,Dentalhygieni,81113-10,Dentalhygieniker/in,811
1,942,"['Choreographers', 'Dancers']",27-203,2.0,99.0,1.414214,98.0,98.5,99.0,99.5,100.0,0.014285,Choreograp,94224-10,Ballettmeister/in,942
2,814,"['Orthodontists', 'Oral and Maxillofacial Surg...",29-102,4.0,97.0,3.366502,92.0,96.5,98.5,99.0,99.0,0.034706,Kieferorthopä,81113-10,Kieferorthopädische/r Fachhelfer/in,811
3,813,['Nurse Midwives'],29-116,1.0,97.0,0.000000,97.0,97.0,97.0,97.0,97.0,0.000000,Krankenschwes,82182-10,Ambulante/r Pfleger/in,821
4,813,['Emergency Medical Technicians and Paramedics'],29-204,1.0,97.0,0.000000,97.0,97.0,97.0,97.0,97.0,0.000000,Medizinische Notfalltechniker und Rettungssanitä,81342-10,Rettungssanitäter/in,813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,412,['Petroleum Engineers'],17-217,1.0,30.0,0.000000,30.0,30.0,30.0,30.0,30.0,0.000000,Erdölingenie,21114-11,Ingenieur/in - Rohstoffgewinnung und -aufberei...,211
435,NaN,['Bridge and Lock Tenders'],53-601,1.0,28.0,0.000000,28.0,28.0,28.0,28.0,28.0,0.000000,Ausschreibungen für Brücken und Schleus,NaN,NaN,NaN
436,117,"['Log Graders and Scalers', 'Logging Equipment...",45-402,3.0,23.0,21.931712,7.0,10.5,14.0,31.0,48.0,0.953553,Log Grader und Scal,NaN,NaN,NaN
437,117,['Hunters and Trappers'],45-302,1.0,17.0,0.000000,17.0,17.0,17.0,17.0,17.0,0.000000,Jäger und Fallenstel,NaN,NaN,NaN
438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
hand_scraper.dropna(subset=["germancode","three_letter_scraper"])

,germancode,jobs,code,count,mean,std,min,25%,50%,75%,max,rel_std,Berufsübersetzung,number_zusammen,Resultatsberuf_zusammen,three_letter_scraper
0,814,['Dental Hygienists'],29-202,1.0,100.0,0.000000,100.0,100.0,100.0,100.0,100.0,0.000000,Dentalhygieni,81113-10,Dentalhygieniker/in,811
1,942,"['Choreographers', 'Dancers']",27-203,2.0,99.0,1.414214,98.0,98.5,99.0,99.5,100.0,0.014285,Choreograp,94224-10,Ballettmeister/in,942
2,814,"['Orthodontists', 'Oral and Maxillofacial Surg...",29-102,4.0,97.0,3.366502,92.0,96.5,98.5,99.0,99.0,0.034706,Kieferorthopä,81113-10,Kieferorthopädische/r Fachhelfer/in,811
3,813,['Nurse Midwives'],29-116,1.0,97.0,0.000000,97.0,97.0,97.0,97.0,97.0,0.000000,Krankenschwes,82182-10,Ambulante/r Pfleger/in,821
4,813,['Emergency Medical Technicians and Paramedics'],29-204,1.0,97.0,0.000000,97.0,97.0,97.0,97.0,97.0,0.000000,Medizinische Notfalltechniker und Rettungssanitä,81342-10,Rettungssanitäter/in,813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,281,"['Pressers, Textile, Garment, and Related Mate...",51-602,1.0,35.0,0.000000,35.0,35.0,35.0,35.0,35.0,0.000000,Druc,23493-10,Druckermeister/in,234
426,521,['Industrial Truck and Tractor Operators'],53-705,1.0,34.0,0.000000,34.0,34.0,34.0,34.0,34.0,0.000000,Betreiber von Flurförderzeugen und Trakto,25222-13,Land- und Baumaschinenmechatroniker/in,252
429,113,['Animal Breeders'],45-202,1.0,33.0,0.000000,33.0,33.0,33.0,33.0,33.0,0.000000,Tierzüch,81143-10,Fachagrarwirt/in - Besamungswesen,811
432,914,"['Environmental Economists', 'Economists']",19-301,2.0,31.0,2.828427,29.0,30.0,31.0,32.0,33.0,0.091240,Umweltökono,42314-11,Betriebswirt/in (Hochschule) - Umweltökonomie,423
434,412,['Petroleum Engineers'],17-217,1.0,30.0,0.000000,30.0,30.0,30.0,30.0,30.0,0.000000,Erdölingenie,21114-11,Ingenieur/in - Rohstoffgewinnung und -aufberei...,211

In [46]:
hand_scraper[hand_scraper["germancode"]==hand_scraper["three_letter_scraper"]]

,germancode,jobs,code,count,mean,std,min,25%,50%,75%,max,rel_std,Berufsübersetzung,number_zusammen,Resultatsberuf_zusammen,three_letter_scraper
1,942,"['Choreographers', 'Dancers']",27-203,2.0,99.00,1.414214,98.0,98.50,99.0,99.50,100.0,0.014285,Choreograp,94224-10,Ballettmeister/in,942
4,813,['Emergency Medical Technicians and Paramedics'],29-204,1.0,97.00,0.000000,97.0,97.00,97.0,97.00,97.0,0.000000,Medizinische Notfalltechniker und Rettungssanitä,81342-10,Rettungssanitäter/in,813
6,514,['Flight Attendants'],53-203,1.0,96.00,0.000000,96.0,96.00,96.0,96.00,96.0,0.000000,Flugbeglei,51422-10,Flugbegleiter/in,514
8,817,"['Physical Therapist Aides', 'Physical Therapi...",31-202,2.0,94.50,0.707107,94.0,94.25,94.5,94.75,95.0,0.007483,Physiotherapeu,81713-10,Physiotherapeut/in,817
9,823,"['Barbers', 'Hairdressers, Hairstylists, and C...",39-501,2.0,93.50,2.121320,92.0,92.75,93.5,94.25,95.0,0.022688,Barbi,82312-10,Herrenfriseur/in,823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,924,"['Technical Writers', 'Copy Writers', 'Poets, ...",27-304,4.0,39.75,17.858238,14.0,35.00,45.5,50.25,54.0,0.449264,Technische Redakte,92413-10,Redakteur/in,924
413,414,"['Astronomers', 'Physicists']",19-201,2.0,39.00,11.313709,31.0,35.00,39.0,43.00,47.0,0.290095,Astrono,41484-11,"Astrophysiker/in, Astronom/in",414
416,922,['Public Relations and Fundraising Managers'],11-203,1.0,38.00,0.000000,38.0,38.00,38.0,38.00,38.0,0.000000,Manager für Öffentlichkeitsarbeit und Fundrais,92203-10,Fundraiser/in,922
423,611,['Sales Engineers'],41-903,1.0,36.00,0.000000,36.0,36.00,36.0,36.00,36.0,0.000000,Vertriebsingenie,61124-10,Vertriebsingenieur/in,611
424,411,['Actuaries'],15-201,1.0,35.00,0.000000,35.0,35.00,35.0,35.00,35.0,0.000000,Aktu,41184-10,Aktuar/in,411

In [47]:
hand_scraper[hand_scraper["germancode"].str[:2]==hand_scraper["three_letter_scraper"].str[:2]]

,germancode,jobs,code,count,mean,std,min,25%,50%,75%,max,rel_std,Berufsübersetzung,number_zusammen,Resultatsberuf_zusammen,three_letter_scraper
0,814,['Dental Hygienists'],29-202,1.0,100.00,0.000000,100.0,100.0,100.0,100.00,100.0,0.000000,Dentalhygieni,81113-10,Dentalhygieniker/in,811
1,942,"['Choreographers', 'Dancers']",27-203,2.0,99.00,1.414214,98.0,98.5,99.0,99.50,100.0,0.014285,Choreograp,94224-10,Ballettmeister/in,942
2,814,"['Orthodontists', 'Oral and Maxillofacial Surg...",29-102,4.0,97.00,3.366502,92.0,96.5,98.5,99.00,99.0,0.034706,Kieferorthopä,81113-10,Kieferorthopädische/r Fachhelfer/in,811
4,813,['Emergency Medical Technicians and Paramedics'],29-204,1.0,97.00,0.000000,97.0,97.0,97.0,97.00,97.0,0.000000,Medizinische Notfalltechniker und Rettungssanitä,81342-10,Rettungssanitäter/in,813
5,817,['Chiropractors'],29-101,1.0,96.00,0.000000,96.0,96.0,96.0,96.00,96.0,0.000000,Chiroprakti,81434-10,Facharzt/-ärztin - Orthopädie und Unfallchirurgie,814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,924,"['Technical Writers', 'Copy Writers', 'Poets, ...",27-304,4.0,39.75,17.858238,14.0,35.0,45.5,50.25,54.0,0.449264,Technische Redakte,92413-10,Redakteur/in,924
413,414,"['Astronomers', 'Physicists']",19-201,2.0,39.00,11.313709,31.0,35.0,39.0,43.00,47.0,0.290095,Astrono,41484-11,"Astrophysiker/in, Astronom/in",414
416,922,['Public Relations and Fundraising Managers'],11-203,1.0,38.00,0.000000,38.0,38.0,38.0,38.00,38.0,0.000000,Manager für Öffentlichkeitsarbeit und Fundrais,92203-10,Fundraiser/in,922
423,611,['Sales Engineers'],41-903,1.0,36.00,0.000000,36.0,36.0,36.0,36.00,36.0,0.000000,Vertriebsingenie,61124-10,Vertriebsingenieur/in,611
424,411,['Actuaries'],15-201,1.0,35.00,0.000000,35.0,35.0,35.0,35.00,35.0,0.000000,Aktu,41184-10,Aktuar/in,411

In [48]:
hand_scraper[hand_scraper["germancode"].str[:1]==hand_scraper["three_letter_scraper"].str[:1]]

,germancode,jobs,code,count,mean,std,min,25%,50%,75%,max,rel_std,Berufsübersetzung,number_zusammen,Resultatsberuf_zusammen,three_letter_scraper
0,814,['Dental Hygienists'],29-202,1.0,100.00,0.000000,100.0,100.00,100.0,100.0,100.0,0.000000,Dentalhygieni,81113-10,Dentalhygieniker/in,811
1,942,"['Choreographers', 'Dancers']",27-203,2.0,99.00,1.414214,98.0,98.50,99.0,99.5,100.0,0.014285,Choreograp,94224-10,Ballettmeister/in,942
2,814,"['Orthodontists', 'Oral and Maxillofacial Surg...",29-102,4.0,97.00,3.366502,92.0,96.50,98.5,99.0,99.0,0.034706,Kieferorthopä,81113-10,Kieferorthopädische/r Fachhelfer/in,811
3,813,['Nurse Midwives'],29-116,1.0,97.00,0.000000,97.0,97.00,97.0,97.0,97.0,0.000000,Krankenschwes,82182-10,Ambulante/r Pfleger/in,821
4,813,['Emergency Medical Technicians and Paramedics'],29-204,1.0,97.00,0.000000,97.0,97.00,97.0,97.0,97.0,0.000000,Medizinische Notfalltechniker und Rettungssanitä,81342-10,Rettungssanitäter/in,813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,933,"['Craft Artists', 'Art Directors', 'Fine Artis...",27-101,4.0,38.75,22.514810,9.0,27.75,43.5,54.5,59.0,0.581027,Kunsthandwerkliche Künst,94494-10,Künstlerische/r Betriebsdirektor/in,944
416,922,['Public Relations and Fundraising Managers'],11-203,1.0,38.00,0.000000,38.0,38.00,38.0,38.0,38.0,0.000000,Manager für Öffentlichkeitsarbeit und Fundrais,92203-10,Fundraiser/in,922
423,611,['Sales Engineers'],41-903,1.0,36.00,0.000000,36.0,36.00,36.0,36.0,36.0,0.000000,Vertriebsingenie,61124-10,Vertriebsingenieur/in,611
424,411,['Actuaries'],15-201,1.0,35.00,0.000000,35.0,35.00,35.0,35.0,35.0,0.000000,Aktu,41184-10,Aktuar/in,411
425,281,"['Pressers, Textile, Garment, and Related Mate...",51-602,1.0,35.00,0.000000,35.0,35.00,35.0,35.0,35.0,0.000000,Druc,23493-10,Druckermeister/in,234

In [53]:
nonmatches=hand_scraper[hand_scraper["germancode"].str[:3]!=hand_scraper["three_letter_scraper"].str[:3]].dropna(subset=["germancode","three_letter_scraper"])

In [54]:
nonmatches.to_csv("nonmatches.csv",index=False)